# application
APP_ENV=dev

# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_SSL=disable

# keys secrets
HASH_PASSWORD_KEY=123