# application
APP_ENV=dev

# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_SSL=disable

# mongo
MONGO_USER=admin
MONGO_PASSWORD=admin123
MONGO_PORT=27017

# keys secrets
HASH_PASSWORD_KEY=123
JWT_SECRET=123